.home{
    height: 100%;
}
.exampleProducts{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(45deg, red,blue) ;
}
.imageView{
    width: 100%;
}
.text{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.styleText{
    margin-top: 40px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}
.image{
    width: 50%;
}
.title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.title h1{
    background: linear-gradient(45deg, yellow,aqua) ;
    padding: 3px;
    border-radius: 10px ;

}
.products{
    margin-top: 10px;
}
.cardFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}