.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    flex-direction: row;    
}

.logo img {
    width: 30px;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
}
.category button{
    margin-right: 10px;
}
@media screen and (max-width: 600px) {
    .container {
        flex-basis: auto;
        margin-bottom: 0;
    }
}