.signup{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(111deg, #49C5F6, #FF2AEF);
}
.containerSignup{
    width: 500px;
    height: 620px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 5px;
}
.containerSignup h1{
    margin: 15px 0px;
}
.containerSignup h5{
    margin-top: 20px;
    font-size: 15px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.data h4{
margin: 20px ;
}
